
body {
  font-family: Times, serif;
  background-image: url("../img/bgleaves.jpg");
  background-repeat: no-repeat;
  width: 100%;
  color: #17311d;
}

#layer {
	background-color: rgba(255,252,233,.85);
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
}

.section {
	background-color: rgba(255,254,246,.65);
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    margin-bottom:10px;
    line-height: 22px;
  	font-size: 16px;
}

h1 {
	color: #4a7d4c;
	font-size: 60px;
	margin-top: -3px;
	margin-bottom: 10px;
	font-variant-caps: small-caps;
	font-weight: bold;
}

h2 {
	margin-top: 2px;
}

h3 {
	background-color: rgba(110,169,128,.6);
	width: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	color: #30513a;
	margin-top: 2px;
}

footer {
	font-size: 12px;
	text-align: center;
}

img {
	border-radius: 21px;
	width: 200px;
	height: 210px;
}

/* nav bar */

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c94f7a;
    border: 1px solid #942a4f;
    border-radius: 0 21px 21px 0;
    width: 80%;
    margin-left: -16px;
    margin-bottom: 15px;
}

li {
	display: inline;
	float: left;
}

li a {
	display: block;
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 20px;
	text-decoration: none;
	font-weight: bold;
    font-variant-caps: small-caps;
}

li a:hover {
	background-color: #942a4f;
	text-decoration: none;
}
